{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
	<header class="row tm-welcome-section">
		<h2 class="col-12 text-center tm-section-title"><strong>ارتباط با ما</strong></h2>
		<p class="col-12 text-center"><strong>| راه های ارتباطی با ما را بلد باشید |</strong></p>
	</header>

	<div class="tm-container-inner-2 tm-contact-section">
		<div class="row">
			<center>
				<div class="col-md-6">
					<div class="tm-address-box">
						<h4 class="tm-info-title tm-text-success">آدرس ما</h4>
						<address>
							180 Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
							10550
						</address>
						<hr>
						<h4 class="tm-info-title tm-text-success">شماره تماس</h4>
						<p class="tm-contact-link"><i class="fas fa-phone tm-contact-icon"></i>   98-0123-456-789
						</p>
						<hr>
						<h4 class="tm-info-title tm-text-success">ایمیل</h4>
						<a href="#" class="tm-contact-link"><i class="fas fa-envelope tm-contact-icon"></i>   info@example.com
						</a>
						<hr>
						<h4 class="tm-info-title tm-text-success">صفحات مجازی</h4>
						<div class="tm-contact-social">
							<a href="#" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
							<a href="#" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
							<a href="#" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
						</div>
					</div>
				</div>
			</center>
		</div>
	</div>
</main>
{% endblock %}