{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title"><strong>مشخصات ارسال سفارش</strong></h2>
        <p class="col-12 text-center"><strong>| اطلاعات ارسال سفارش برای حساب خود را اینجا پر کنید |</strong></p>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <form action="{% url 'deliveryinfo' %}" method="POST" class="tm-contact-form">
                        {% csrf_token %}
                        {% for field in form_delivery %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group tm-d-flex">
                            <button type="submit" class="tm-btn tm-btn-success tm-btn-middle">
                                ثبت اطلاعات
                            </button>
                        </div>
                    </form>
                </div>
            </center>
        </div>
    </div>
    
</main>
{% endblock %}