{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title"><strong>ورود</strong></h2>
        <p class="col-12 text-center"><strong>| وارد حساب کاربری خود شوید |</strong></p>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <form action="{% url 'login' %}" method="POST" class="tm-contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="نام کاربری" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="رمز عبور" />
                        </div>
                        <div class="form-group tm-d-flex">
                            <button type="submit" class="tm-btn tm-btn-success tm-btn-middle">
                                ورود به حساب کاربری
                            </button>
                        </div>
                    </form>
                </div>
            </center>
        </div>
    </div>



</main>
{% endblock %}