{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title"><strong>ویرایش اطلاعات حساب</strong></h2>
        <p class="col-12 text-center"><strong>| اطلاعات حساب خود را اینجا ویرایش کنید |</strong></p>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-6">
                    <form action="{% url 'update_profile' %}" method="POST" class="tm-contact-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group tm-d-flex">
                            <button type="submit" class="tm-btn tm-btn-success tm-btn-middle">
                                ویرایش اطلاعات حساب
                            </button>
                        </div>
                    </form>
                    <br>
                    <a href="{% url 'update_password' %}" class="btn btn-warning"><strong>ویرایش رمز عبور</strong></a>
                </div>
            </center>
        </div>
</main>
{% endblock %}